@import "reset.css";
@import "login.css";
@import "todo.css";

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input {
  display: inline-block;
}

.home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.home a {
  cursor: pointer;
  font-size: 24px;
}
